#startMarker
{
  background-color: orange;
}
#endMarker
{
  background-color: purple;
}
#green
{
  background-color: green;
}
#maroon
{
  background-color: maroon;
}
#slateGrey
{
  background-color: slategrey;
}
#blueBackground
{
  background-color: slategrey;
}
#redBackground
{
  background-color: red;
}
.square {
  height: 7vh;
  width: 7vh;
}
.game {
  width: 100vh;
  height: 100vh;
  justify-content: center;
  padding: 1vh;

  flex: auto;
  flex-direction: row;
}
.game-info {
  margin-left: 2vh;
}
.square:focus{
  outline: none;
  box-shadow: none;
}
.square:active:focus{
  outline: none;
  box-shadow: none;
}
