#startMarker
{
  background-color: orange;
}
#endMarker
{
  background-color: cornflowerblue;
}
#green
{
  background-color: green;
}
#maroon
{
  background-color: maroon;
}
#black{
  background-color: black;
  color: black;
}
#slateGrey
{
  background-color: slategrey;
}
#blueBackground
{
  background-color: slategrey;
}
#redBackground
{
  background-color: red;
}
#gold
{
  background-color: gold;
}
.btn.btn-secondary.square {
  height: 5vh;
  width: 5vh;
  font-size: 3vh;


}

.game {
  width: 100%;
  height: 100%;
  justify-content: center;

}
.game-info {
  margin-left: 2vh;
}
.card{
  width: 50vh;
  padding: 1vh;
  height:100vh;
  overflow: scroll;
}
.sweet-loading{
  display: inline-block;

}
#headerButton{
  float:left;
}
.board-row{
  padding: 0;
  margin: 0;
  max-width: 100%;

}
#box {
  width:auto;
  height: 100%;
  display: flex;
  background-color: darkgrey;
}
#leftBox{
  z-index: 1;
  padding-left: 1%;
  height: auto;
  width : auto;
  background-color: cornflowerblue;

}
#centerBox{
  z-index: 0;
  padding-left: 2%;
  width: auto;
  height:100vh;
  display:inline-flex;
  -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms-transform:scale(0.5);
  transform:scale(0.5);
  transform-origin: top left;
}

#rightBox{
  z-index: -1;
  padding-left: 8%;
  width: auto;
  height: 100vh;
  -webkit-transform:scale(2);
  -moz-transform:scale(2);
  -ms-transform:scale(2);
  transform:scale(2);
  transform-origin: top;

}

a:hover {
  width: 100%;
  background-color: grey;
  text-align: center;
}

/*.square:focus{
  outline: none;
  box-shadow: none;
}
.square:active:focus{
  outline: none;
  box-shadow: none;
}*/