body {
  font: 14vh "Century Gothic", Futura, sans-serif;
  width: 100%;
  height: 100%;

}

ol, ul {
  padding-left: 30vh;
}
#startMarker
{
  background-color: orange;
}
#endMarker
{
  background-color: purple;
}
#blueBackground
{
  background-color: blue;
}
#redBackground
{
  background-color: red;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10vh;
}

.square {
  background-color: #fff;
  border: 1vh solid #999;
  float: left;
  /*font-size: 24vh;
  font-weight: bold;
  line-height: 34vh;
  text-align: center;
  */
  height: 7vh;
  margin-right: -1vh;
  margin-top: -1vh;
  padding: 0;
  width: 7vh;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  justify-content: center;
  padding: 1vh;
  display: flex;
}


.game-info {
  margin-left: 2vh;
}
.btn.btn-primary {
  margin: 1vh;
}
.btn.btn-primary-selected {
  font-weight: bold;
  background-color: red;
  margin: 1vh;
}

